@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.main-content {
  width: min(100%, #{$content-max-width + 160px});
  margin: 0 auto;
  padding: 0 $container-padding;
}

@include respond-to('md') {
  .main-content {
    padding: 0 $spacing-xl;
  }
}

@include respond-to('sm') {
  .main-content {
    padding: 0 $spacing-lg;
  }
}
