<ng-container *ngIf="about$ | async as about">
  <div
    class="about"
    #aboutSection>
    <div class="about__content">
      <span class="about__eyebrow mono" #introItem>{{ 'about.eyebrow' | translate }}</span>

      <p class="about__greeting" #introItem>{{ 'about.greeting' | translate }}</p>

      <h1 class="about__name" #introItem>
        {{ about.firstName }}<ng-container *ngIf="about.lastName"> {{ about.lastName }}</ng-container>
      </h1>

      <p class="about__role" #introItem>{{ about.roleKey | translate }}</p>

      <p class="about__tagline" #introItem>{{ about.taglineKey | translate }}</p>

      <div class="about__bio" #introItem>
        <p *ngFor="let paragraphKey of about.bioKeys">{{ paragraphKey | translate }}</p>
      </div>

      <div class="about__meta" #introItem>
        <span
          class="about__availability mono"
          [class.is-unavailable]="!about.availability.available">
          <span class="about__availability-dot"></span>
          {{ about.availability.labelKey | translate }}
        </span>

        <span class="about__location mono">
          <svg viewBox="0 0 24 24" aria-hidden="true">
            <path d="M12 2a7 7 0 0 0-7 7c0 5.3 7 13 7 13s7-7.7 7-13a7 7 0 0 0-7-7Zm0 9.5A2.5 2.5 0 1 1 12 6a2.5 2.5 0 0 1 0 5.5Z" />
          </svg>
          {{ about.locationKey | translate }}
        </span>
      </div>

      <button class="about__cta mono" type="button" #introItem (click)="scrollToProjects()">
        {{ 'about.cta' | translate }}
      </button>
    </div>

    <!-- <div class="about__art" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
  </div>
</ng-container>
